<ol class="directory-list story-teller-list" style="display: none;">
{{#each folders}}
  <li class="directory-item folder flexcol collapsed" data-folder-id="{{id}}" data-folder-depth="1" draggable="true" style="display: flex;">
    <header class="folder-header flexrow" style="background-color: ">
      <h3><i class="fas fa-folder-open fa-fw"></i>{{name}}</h3>
      <a class="create-folder" data-parent-folder="{{id}}"><i class="fas fa-folder-plus fa-fw"></i></a>
      <a class="create-entity" data-folder="{{id}}"><i class="fas fa-feather-alt fa-fw"></i></a>
    </header>
    <ol class="subdirectory">
        <li class="directory-item folder flexcol collapsed" data-folder-id="kweEO6wTmGtjXSMD" data-folder-depth="2" draggable="true" style="display: flex;">
            <header class="folder-header flexrow" style="background-color: ">
                <h3><i class="fas fa-folder-open fa-fw"></i>123</h3>
                <a class="create-folder" data-parent-folder="kweEO6wTmGtjXSMD"><i class="fas fa-folder-plus fa-fw"></i></a>
                <a class="create-entity" data-folder="kweEO6wTmGtjXSMD"><i class="fas fa-feather-alt fa-fw"></i></a>
            </header>

            <ol class="subdirectory"></ol>
        </li>
      {{#each stories}}
        <li class="directory-item entity journal flexrow" data-entity-id="zBksSqB9tWIf1wye" draggable="true" style="display: flex;">
          <h4 class="entity-name">
              <a>{{name}}</a>
              <a class="" data-parent-folder=""><i class="fas fa-eye fa-fw"></i></a>
          </h4>
        </li>
      {{/each}}
    </ol>
  </li>
{{/each}}
</ol>